<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
  'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>
<mapper namespace='com.cj.blog.dao.ArticalMapper'>
	<select id="countArtical" resultType="Integer">
		<![CDATA[
			select count(0) from t_artical where art_is_del_ = '0'
		]]>
		<if test="tag != null and tag != ''">
			and art_tags_ like #{tag}
		</if>
		<if test="keyword != null and keyword != ''">
			and art_title_ like #{keyword}
		</if>
	</select>

	<select id="getArticals" resultType="com.cj.blog.model.Artical">
		<![CDATA[
			select * from t_artical where art_is_del_ = '0'
		]]>
		<if test="tag != null and tag != ''">
			and art_tags_ like #{tag}
		</if>
		<if test="keyword != null and keyword != ''">
			and art_title_ like #{keyword}
		</if>
		order by art_created_at_ desc
		<if test="limit != -1">
			limit #{offset}, #{limit}
		</if>
	</select>

	<select id="getArticalDetail" resultType="com.cj.blog.model.Artical">
		<![CDATA[
			select * from t_artical where art_is_del_ = '0' and art_id_ = #{artId}
		]]>
	</select>

	<insert id="saveArtical" parameterType="com.cj.blog.model.Artical">
		<selectKey resultType="java.lang.Integer" order="AFTER"
			keyProperty="a.artId">
			select LAST_INSERT_ID() as artId
		</selectKey>
		<![CDATA[
		insert into t_artical 
			(`art_id_`, `art_title_`, `art_img_url_`, `art_brief_`, `art_content_`, `art_read_cnt_`, `art_tags_`, `art_created_at_`, `art_is_del_`) 
		values 
			(#{a.artId}, #{a.artTitle}, #{a.artImgUrl}, #{a.artBrief}, #{a.artContent}, #{a.artReadCnt}, #{a.artTags}, #{a.artCreatedAt}, #{a.artIsDel});
		]]>
	</insert>

	<delete id="removeArtical">
		<![CDATA[
		delete from t_artical WHERE t_artical.art_id_ = #{artId}
		]]>
	</delete>
</mapper>